
.header {
    width: 100%;
    background-color: gray;
    align-content: center;
    text-align: center;
    
}

.bodyy {
    width: 100%;
    display: flex;
    text-align: center;

}

.left1 {
    width: 20vw;
    background-color: green;
    text-align: center;
}

.center1 {
    width: 60vw;
    background-color: yellow;
    text-align: center;
}
.right1 {
    width: 20vw;
    background-color: blue;
    text-align: center;
}