* {
    margin: 0;
    padding: 0;
}
button {
    margin-top: 1%;
    width: 60%;
}

input[type="button"] {
    width: 60%;
    height: 70px;
}

textarea {
    height: 350px;
    width: 60%;
    padding: 1%;
    font-size: 1.5em;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.header {
    text-align: center;
    margin-top: 3%;
    font-size: 2em;
    margin-bottom: 2%;
}

.body {
    display: block;
    height: 300px;
}

.Forma {
    display: block;
    text-align: center;
}